In [28]:
%load_ext autoreload

%autoreload 2
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.svm import SVC
 
from sklearn import metrics

from mlxtend.plotting import plot_decision_regions
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from ast import literal_eval

import warnings
import numpy as np
from collections import OrderedDict

from lob_data_utils import lob, db_result, model
from lob_data_utils.svm_calculation import lob_svm
import os
from scipy import stats


sns.set_style('whitegrid')
warnings.filterwarnings('ignore')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [29]:
df1 = pd.read_csv('res_svm_overfit/svm_overfit_sigmoid_4549_len24000.csv')
df2 = pd.read_csv('res_svm_overfit/svm_overfit_sigmoid_9268_len24000.csv')

In [30]:
df1[[c for c in df1.columns if 'mat' in c]][['test_matthews', 'train_matthews']]

   test_matthews  train_matthews
0       0.014972        0.028517

In [27]:
df2[[c for c in df1.columns if 'mat' in c]][['test_matthews', 'train_matthews']]

   test_matthews  train_matthews
0       0.037404        0.037853

In [22]:
def get_scores(df1, col):
    folds = {}
    k = literal_eval(df1[col].values[0])
    for i in range(len(k)):
        folds[i] = k[i]
    return folds

mat = get_scores(df1, 'matthews')
tr_mat = get_scores(df1, 'train_val_matthews')

pd.DataFrame([mat, tr_mat])

          0         1         2         3         4
0  0.119202  0.129088  0.121356  0.091786  0.103983
1  0.109264  0.103683  0.111763  0.107828  0.112102

In [23]:
mat = get_scores(df2, 'matthews')
tr_mat = get_scores(df2, 'train_val_matthews')

pd.DataFrame([mat, tr_mat])

          0         1         2         3         4
0  0.109361  0.091421  0.096534  0.122296  0.123132
1  0.124256  0.117256  0.113410  0.099754  0.092756